@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        color: black;
        }
</style>
<div >
    
    <h1 > Sistemas Web II - Trabalho prático 02 </h1>
    <h1> </h1>
    <h1> Desenvolvido por: </h1>
    <h1>Kawan Carvalho CB300032X | Giovanna Bomfim CB300015X </h1>
    
</div>